<h3><%= flash[:error] %></h3>

<%= form_for @user do |f| %>
    <%= f.error_messages %>
    <div>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div>
      <%= f.label :birthday %>
      <%= f.date_select :birthday, :start_year => 1920, :end_year => 2000 %>
    </div>
    <div>
      <%= f.label :place_of_work %>
      <%= f.text_area :place_of_work %>
    </div>
    <div>
      <%= f.label :position %>
      <%= f.text_field :position %>
    </div>
    <%= f.fields_for :report do |r| %>

        <div>
          <%= r.label :topic %>
          <%= r.text_field :topic, :class => 'report_thema' %>
        </div>
        <div>
          <%= r.label :section %>
          <%= r.select :section, Report::SECTION %>
        </div>
    <% end %>

    <%= f.fields_for :address do |a| %>
        <div>
          <%= a.label :full_address %>
          <%= a.text_area :full_address %>
        </div>
        <div>
          <%= a.label :email %>
          <%= a.text_field :email %>
        </div>
        <div>
          <%= a.label :work_phone %>
          <%= a.text_field :work_phone %>
        </div>

        <h4><%= t('invitation')%>:</h4>
        <br />
        <div>
          <%= a.label :email_invitation %>
          <%= a.check_box :email_invitation %>
        </div>
        <div>
          <%= a.label :post_invitation %>
          <%= a.check_box :post_invitation %>
        </div>
    <% end %>

    <%= f.submit t('create'), :class => 'button' %>
<% end %>
