<h1><%= User.human_name(:count => @users.count) %></h1>

<table>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name.force_encoding "utf-8" %></td>
        <td><%= user.place_of_work.force_encoding "utf-8" %></td>
      </tr>
      <tr>
        <td colspan=2><%= user.report.topic.force_encoding "utf-8" %></td>
        <td><%= link_to t('link.all.show'), user %></td>
        <% if authenticated? %>
          <td><%= link_to t('link.admin.edit'), edit_user_path(user) %></td>
          <td><%= link_to t('link.admin.delete'), user, :confirm => "confirmation", :method => :delete %></td>
        <% end %>
      </tr>
  <% end %>
</table>
