<% form_tag upload_path, :multipart => true do %>
    <%= file_field_tag :upload %>
    <%= submit_tag %>
<% end %>

<% @users.each_key do |section| %>
    <h3><%= section %></h3>
    <table>
      <% h = @users[section].group_by(& :date_for_group)%>
      <% h.each_key do |date| %>
          <tr><h5><%= date.inspect %></h5></tr>
          <% h[date].each do |user| %>
              <tr>
                <td><%= user.full_name.force_encoding "utf-8" %></td>
                <td><%= user.place_of_work.force_encoding "utf-8" %></td>
                <td><%= user.report.topic.force_encoding "utf-8" %></td>
                <td><%= "#{user.report.begin_report.strftime('%H:%M')} - #{user.report.end_report.strftime('%H:%M')}" %></td>
              </tr>
              <% if authenticated? %>
                  <tr>
                    <td><%= link_to t('link.admin.show'), user %></td>
                    <td><%= link_to t('link.admin.edit_time'), edit_user_report_path(user), :remote => true %></td>
                    <td><%= link_to t('link.admin.edit'), edit_user_path(user) %></td>
                    <td><%= link_to t('link.admin.delete'), user, :confirm => "confirmation", :method => :delete %></td>
                  </tr>
              <% end %>
          <% end %>
      <% end %>
    </table>
<% end %>
