<% if authenticated? %>
    <%= form_tag upload_path, :multipart => true do %>
        <%= file_field_tag :upload %><br />
        <%= hidden_field_tag :dirname, 'rasp' %><br />
        <%= submit_tag 'Upload', :class => 'button' %>
    <% end %>
    <%= link_to('Delete', delete_all_path(:dirname => 'rasp'), :method => :delete) if @pdf_rasp %>
<% end %>

<h3><%= t('shedule') %></h3>
<br/>
<%= link_to(t('rasp'), @pdf_rasp) if @pdf_rasp %>
<br/>
<br/>

<% @users.each do |section, hash| %>
    <h3><%= section %></h3>
    <br/>
    <% hash.each_key do |date| %>
        <h5><%= date.inspect %></h5>
        <table>
          <% hash[date].each do |user| %>
              <tr class='user_info'>
                <td class='name2'><%= user.full_name %></td>
                <td class='work2'><%= user.place_of_work %></td>
                <td class='topic2'><%= user.report.topic %></td>
                <td class='time2'><%= "#{user.report.begin_report.strftime('%H:%M')} - #{user.report.end_report.strftime('%H:%M')}" %></td>
              </tr>
              <% if authenticated? %>
                  <tr>
                    <td class='link'><%= link_to t('link.admin.show'), user %></td>
                    <td class='link'><%= link_to t('link.admin.edit_time'), edit_user_report_path(user), :remote => true %></td>
                    <td class='link'><%= link_to t('link.admin.delete_time'), delete_time_user_report_path(user) %></td>
                    <td class='link'><%= link_to t('link.admin.delete'), user, :confirm => "confirmation", :method => :delete %></td>
                  </tr>
                  <tr style="display:none" id=<%= "form_#{user.id}" %>>
                    <td colspan=4>
                      <% form_for user.report, :url => user_report_path(user) do |f| %>
                          <%= f.error_messages %>
                          <%= f.datetime_select :begin_report, :discard_year => true %>
                          <%= f.datetime_select :end_report, :discard_year => true %>
                          <%= f.submit 'Update' %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
          <% end %>
        </table>
    <% end %>

<% end %>
