<!DOCTYPE html>
<html>
<head>
  <title><%= t ("titles.#{controller.controller_name}.#{controller.action_name}") %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js", "jquery.rails.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id='header'>
  <div id='lang'>
    <% lang_menu(request.env['REQUEST_URI']) %>
    <span id='login_place'>
      <% login_url %>
    </span>
  </div>
</div>

<div id='wrapper'>
  <div id='menu'>
    <ul>
      <li> <%= link_to_unless_current(t("menu.main"), root_url) %></li>
      <li> <%= link_to_unless_current(t("menu.contacts"), {:controller => :static, :action => :contacts}) %></li>
      <li> <%= link_to_unless_current(t("menu.registration"), {:controller => :users, :action => :new}) %></li>
      <li> <%= link_to_unless_current(t("menu.list"), {:controller => :users, :action => :index}) %></li>
      <li> <%= link_to_unless_current(t("menu.program"), program_users_path) %></li>
    </ul>
  </div>

  <div id='content'>
    <%= yield %>
  </div>
</div>

</body>
</html>
