<!DOCTYPE html>
<html>
<head>
  <title><%= t ("titles.#{controller.controller_name}.#{controller.action_name}") %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js", "jquery.rails.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id='wrapper'>
  <div id='header'>
    <div id='title'>
      <p>
        <%= t('header.donnu')%>
      </p>

      <p id="name">
        <%= t('header.conference_name')%>
      </p>

      <p>
        <%= t('header.conference_data')%>
      </p>

    </div>
    <div id='lang'>
      <% lang_menu(request.env['REQUEST_URI']) %>
      <span id='login_place'>
      <% login_url %>
    </span>
    </div>
  </div>


  <div id='menu'>
    <ul>
      <li> <%= link_to(t("menu.main"), root_url) %></li>
      <li> <%= link_to(t("menu.registration"), {:controller => :users, :action => :new}) %></li>
      <li> <%= link_to(t("menu.list"), {:controller => :users, :action => :index}) %></li>
      <li> <%= link_to(t("menu.program"), program_users_path) %></li>
      <li> <%= link_to(t("menu.contacts"), {:controller => :static, :action => :contacts}) %></li>
    </ul>
  </div>

  <div id='content'>
    <%= yield %>
  </div>
</div>

<div id='footer'>
  <div id='donnu_link'>
    <a href="http://www.donnu.edu.ua/">Donetsk National University</a>
  </div>
</div>

</body>
</html>
